<h2><%= @article.title %></h2>

<p>
  <%= @article.content %>
</p>

<p>
  <b>Category</b>: 
  <%= @article.category.name %>
</p>

<p>&nbsp;</p>

<p>
  <b>Active</b>: 
  <%= @article.active ? "Yes" : "No" %>
</p>

<p>
	<% if @comments.empty?%>
		No comments yet on this article<br>
	<% end%>
	<%= render :partial => "partials/add_comments_to_page", :locals => {obj: @photo}%>
</p>

<div class="form-actions">
  <%= link_to 'Back', articles_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_article_path(@article), :class => 'btn' %>
  <%= link_to 'Delete', article_path(@article), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
